---
---

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

$lightgray: #f7f7f7;
$mediumgray: #aaa;
$darkgray: #666;
$gray: #ddd;
$lightblue: #d3edff;
$blue: #0099ff;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  line-height: 30px;
  text-align: center;
}

h1, h2 {
  font-size: 150%;
}

h3, h4, h5, h6 {
  font-size: 115%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: $blue; }
a:hover   { color: $lightblue; }
a:visited { color: $blue; }

blockquote {
  padding-left: 1em;
  border-left: 5px solid $gray;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.article-index {
  list-style: none;
  padding-left: 0;
  margin-bottom: 80px;

  li { margin: 40px 0; }

  .article-date {
    color: $gray;
    display: block;
    float: left;
    text-align: right;
    vertical-align: top;
    letter-spacing: 1px;
    margin-left: -120px;
    width: 110px;
  }

  .article-title {
    font-size: 125%;
    color: $blue;
    font-weight: 700;
  }

  .article-source {
    display: block;
    font-style: italic;
    color: $gray;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover {
      .article-date { color: $darkgray; }
      .article-title {
        color: lighten($blue, 10%);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .article-index .article-date {
    text-align: left;
    margin-left: 0px;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 700px;
  margin: 0 auto 2em;
  padding-top: 3em;

  ul, ol { margin-bottom: 1em; }
  ul ul, ol ol { margin-bottom: 0; }
}

@media screen and (max-width: 750px) {
  .site {
    width: 90%;
  }
}

.header {
  background: url(/images/header.jpg) center no-repeat;
  background-size: cover;

  .overlay {
    background-color: $blue;
    opacity: 0.8;
  }

  .site { margin-bottom: 0; }

  .avatar {
    background: url(/images/avatar.jpg);
    overflow: hidden;
    float: left;
    margin: -30px 20px 10px 0;
    border-radius: 75px;
    width: 100px;
    height: 100px;
  }

  .title {
    display: inline-block;
  }

  a {
    color: $lightblue;
    font-weight: bold;
    text-decoration: none;

    &:hover { color: #000; }
  }

  .extra {
    overflow: hidden;
    margin-top: -50px;
    padding-bottom: 20px;

    a {
      float: right;
      margin-left: 1em;
    }
  }
}

.meta {
  color: #aaa;

  .article-tag {
    border-radius: 5px;
    background-color: $gray;
    color: $lightgray;
    font-size: 75%;
    font-weight: 700;
    margin-left: 5px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $darkgray;
    }
  }
}

.related-posts {
  border-top: 1px dotted $gray;
  margin-top: 2em;

  h4 {
    color: $gray;
    margin: 1em 0;
  }
  ul {
    margin-left: 40px;
  }
}

.footer {
  font-size: 80%;
  color: $darkgray;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;

  .contact {
    float: left;
    margin-right: 3em;

    a {
      display: block;
    }

    span {
      display: block;
    }
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.back {
  color: $gray;
  float: left;
  letter-spacing: 1px;
  margin-right: 5px;

  a {
    color: $gray;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.post h3, .post h4 {
  margin-top: 40px;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post img {
  display: block;
  margin: 0 auto;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  word-break: break-all;
  word-wrap: break-word;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.tag_cloud {
  margin: 20px 0;
}

// Search

#post-search {
  margin-bottom: 1rem;
  font-size: 20px;
  padding: .25rem .5rem;
  float: right;
  outline: none;
}

.algolia__result-highlight {
  background-color: #D3E8F6;
  background-color: rgba(38,139,210,0.2);
  font-weight: bold;
}
