---
layout: default
title: Caleb Woods | Writing
---

#home
  h2 Writing

  ul class="article-index"
    {% for post in site.posts %}
      li class="{% cycle 'even', 'odd' %}"
        a href="{{ post.url }}"
          span class="article-date"
            | {{ post.date | date: "%-m/%-d/%Y" }}
          span class="article-title"
            | {{ post.title }}
    {% endfor %}

  h2 Writing Elsewhere

  ul class="article-index"
    {% for post in site.data.other-writing %}
      li class="{% cycle 'even', 'odd' %}"
        a href="{{ post.url }}"
          span class="article-date"
            | {{ post.date | date: "%-m/%-d/%Y" }}
          span class="article-title"
            | {{ post.title }}
          span class="article-source"
            | {{ post.source }}
    {% endfor %}
