---
layout: default
---

<span class="back"><a href="/">Home</a> ></span>
<h2>
  {{ page.title }}
</h2>

<p class="meta">
  {{ page.date | date_to_string }}
  {% for tag in page.tags %}
    <span class="article-tag">
      {{ tag }}
    </span>
  {% endfor %}
</p>

<div class="post">
  {{ content }}
</div>

<div class="related-posts">
  <h4>Related Posts</h4>

  <ul>
    {% for p in site.related_posts | limit:3 %}
      <li>
        <a href="{{ p.url }}">
          <span class="article-title">{{ p.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
